<html>
<head>
    <title>Lead Shortlisted</title>
</head>
<body>
        <h2>Lead Shortlisted</h2>
<p>Hi {{leadName}},</p>
<p>Your lead has been shortlisted by agent <b>{{agentName}}</b>.</p>
<p>Ozarx HR Team</p>
</body>
</html>